{
  "root": true,
  "extends": ["airbnb-typescript", "plugin:prettier/recommended"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "tsconfigRootDir": ["__dirname"],
    "sourceType": "module",
    "project": "../my-cra-ts-app/tsconfig.eslint.json",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {}
}
